#wrapper {
    /*width: 100%;*/
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 450px;
    min-width: 761px;
    position: relative;
}

#left-bar {
    padding: 0;
    margin: 0;
    width: 48px;
    height: 100%;
    min-height: 450px;
    background-color: #262626;
}

#left-menu {
    width: 48px;
    height: 100%;
    min-height: 450px;
    list-style: none;
    position: relative;
}
        
#left-menu .menu-btn {
    width: 100%;
    height: 44px;
    float: left;
    background-color: #272727;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #121212;
    cursor: pointer;
}
        
#left-menu .menu-btn:hover {
    background-color: #313131;
}
        
#left-menu .menu-btn.active {
    border-top: 2px solid #070707;
    background-color: #151515;
}
        
#left-menu .menu-btn .icon {
    margin-left: 10px;
    cursor: pointer;
    background-image: url("../img/zalo.sprite.png");
}

#left-menu .conversation-btn .icon {
    margin-top: 12px;
    width: 27px;
    height: 24px;
    background-position: -152px 0px;
}
        
#left-menu .conversation-btn:hover .icon {
    background-position: -179px 0px;
}
        
#left-menu .conversation-btn.active .icon {
    margin-top: 11px;
    background-position: -206px 0px;
}
        
#left-menu .contacts-btn .icon {
    margin-top: 9px;
    width: 27px;
    height: 26px;     
    background-position: -152px -24px;
}
        
#left-menu .contacts-btn:hover .icon {
    background-position: -179px -24px;
}

#left-menu .contacts-btn.active .icon {
    margin-top: 8px;
    background-position: -206px -24px;
}
        
#left-menu .recents-btn .icon {
    margin-top: 9px;
    width: 28px;
    height: 28px;     
    background-position: -152px -50px;
}
        
#left-menu .recents-btn:hover .icon {
    background-position: -180px -50px;
}
        
#left-menu .recents-btn.active .icon {
    background-position: -208px -50px;
}
        
#left-menu .keypad-btn .icon {
    margin-top: 9px;
    width: 26px;
    height: 25px;     
    background-position: -152px -78px;
}

#left-menu .keypad-btn:hover .icon {
    background-position: -179px -78px;
}

#left-menu .keypad-btn.active .icon {
    background-position: -206px -78px;
}
        
#left-menu .settings-btn {
    position: absolute;
    bottom: 0px;
}

#left-menu .settings-btn .icon {
    margin-top: 8px;
    width: 29px;
    height: 29px;     
    background-position: -152px -103px;
}

#left-menu .settings-btn:hover .icon {
    background-position: -181px -103px;
}

#left-menu .settings-btn.active .icon {
    background-position: -210px -103px;
}

#middle-bar {
    width: 254px;
    height: 100%;
    min-height: 450px;
    float: left;
}

#contacts {
    width: 254px;
    height: 100%;
    min-height: 450px;
    border-right: 1px solid #bbbbbb;
    background-color: #e5e5e5;
    position: relative;
}

#contacts #search-box {
    float: left;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #bbbbbb;
    background-color: #f9f9f9;
    position: relative;
}


#contacts #search-box .left-text-search {
    width: 4px;
    height: 33px;
    border: 0px;
    padding-left: 30px;
    margin-left: 9px;
    margin-top: 5px;
    line-height: 12px;
    padding-left: 7px;
    background-image: url("../img/zalo.sprite.png");
    background-position: 0px -230px; 
}

#contacts #search-box #search-text{
    position: relative;
    top: -33px;
    left: 16px;
    height: 33px;
    line-height: 12px;
    width: 228px;
    padding-left: 7px;
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    border-left: none;
    border-right: none;
    /*background-color: #ffffff;*/
    color: #adadad;

}

.middle-text-search{
    color: #adadad;
}

#contacts #search-box .right-text-search {
    position: relative;
    top: -33px;
    left: -7px;
    width: 4px;
    height: 33px;
    float: right;
    background-image: url("../img/zalo.sprite.png");
    background-position: -8px -230px; 
}

#contacts #search-box .remove-btn {
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    top: 16px;
    background-image: url("../img/zalo.sprite.png");
    background-position: 0px -20px;    
}
        
#contacts #search-box .remove-btn:hover {
    background-position: 0px -35px;    
}

#contacts .app-status {
    position: absolute;
    height: 28px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    /*-moz-opacity: 0.60;
    opacity: .60;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);*/    
    background-color: #adadad;
    margin-top: 45px;
    z-index: 999;
}

#contacts .app-status .name-status{
    height: 28px;
    margin-top: 5px;
}

#contacts .app-status .name-status .status-img{
    position: relative;
}

#contacts .app-status .name-status .status-img img{
    position: absolute;
}

#contacts .app-status .name-status .status-text{
    padding-left: 19px;
    line-height: 18px;
}
   
#contacts #items {
    float: left;
    width: 254px;
    min-height: 449px;
}
        
#contacts #items .contact-items {
    float: left;
    height: 40px;
    width: 254px;
    font-size: 14px;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 1px;
    position: relative;
    background-color: #f9f9f9;
}
       
#contacts #items .contact-items:hover {
    background-color: #ebebeb;
}
        
#contacts #items .contact-items.active {
    background-color: #aae0f7;
}
        
#contacts #items .contact-items .contact-avatar {
    float: left;
    margin-left: 3px;
    height: 40px;
    width: 40px;
}
        
#contacts #items .contact-items .contact-avatar img {
    height: 40px;
    width: 40px;
}
    
#contacts #items .contact-items .contact-info .contact-name {
    margin-top: 10px;
    margin-left: 10px;
}
        
#contacts #items .contact-items .contact-info .contact-call {
    position: absolute;
    right: 5px;
    width: 43px;
    height: 12px;
    top: 14px;
    background-image: url("../img/zalo.sprite.png");
    background-position: -198px -132px;   
}

#contacts #items .total-contacts {
    color: #bebebe;
    float: left;
    font-size: 16px;
    height: 40px;
    width: 254px;
    line-height: 40px;
    background-color: #f9f9f9; 
}

#contacts #items #contain-items .no-items{
    display: inline-block;
    margin-top: 135px;
}

#contacts #items #contain-items .no-items .no-items-text{
    font-size: 20px;
    font-weight: bold;
    color: #9c9c9c;
} 

#contacts #items #contain-items .no-items .no-items-img{
    width: 100px;
    height: 134px;
    margin-top: 16px;
    background-image: url("../img/zalo.sprite.png");
    background-position: 0 -67px;
}
  
#right-content {
    height: 100%;
    width: 100%;
    min-width: 439px;
    min-height: 450px;
    overflow: hidden;
    position: absolute;
    left: 302px;
    top:0;
}

        
#right-content #no-conversation {
    width: 100%;
    height: 100%;
    min-height: 450px;
    min-width: 439px;
    text-align: center;
}


#right-content #no-conversation img {
    margin-top: 97px;
    margin-bottom: 20px;
}

#right-content #no-conversation .guide-text {
    padding-bottom: 7px;
}
    
        
#conversation-info {
    height: 70px;
    min-width: 429px;
    width: 100%;
    /*margin: 10px 30px 10px 10px;*/
    margin: 10px;
    z-index: 1;
}
        
        
#conversation-info .talker-info {
    height: 60px;
    position: relative;
}
        
#conversation-info .talker-info div {
    float: left;
}
        
#conversation-info .talker-info .talker-img .talker-avatar img {
    height: 60px;
    width: 60px;
}
               
#conversation-info .talker-info .talker-action .talker-name {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: #fc0025;
    margin-top: 20px;
    margin-left: 20px;
}
     
#conversation-info .talker-info .invite-talker {
    float: right;
    width: 20px;
    height: 21px;
    margin-top: 40px;
    margin-right: 20px;
    background: url("../img/zalo.sprite.png");
    background-position: -152px -167px;
}

#conversation-info .talker-info .invite-talker:hover {
    background-position: -172px -167px;
}
        
#conversation-info .conversation-divide {
    height: 20px;
    width: 100%;
    min-width: 439px;
    margin: 3px auto;
    background: url("../img/zalo.divide.conv.png") center center no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/conversation-divine.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/conversation-divine.png', sizingMethod='scale')";*/
}
   

#conversation-content {
    width: 100%;
    height: 100%;
    min-width: 439px;
    min-height: 336px;
    overflow: hidden;
}

#conversation-content .conversation-bubble{
    border: 1px solid #e5e5e5;
    margin: 5px;
    overflow: auto;
}

#chat-editor{
    height: 44px;
    width: 100%;
    min-width: 459px;
    position: absolute;
    bottom: 0;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    /*border-right: 1px solid #bbbbbb;*/
    background-color: #f2f2f2;
}

#chat-editor div{
    float: left;
}

#chat-editor .photo-input{
    width: 23px;
    height: 17px;
    margin: 14px 10px 14px 6px;
    background-image: url("../img/zalo.sprite.png");
    background-position: -152px -132px;    
}

#chat-editor .photo-input:hover{
    cursor: pointer;
    background-position: -175px -132px;    
}

#chat-editor .separate-input {
    width: 2px;
    height: 32px;
    margin-top: 6.5px;
    background-image: url("../img/zalo.sprite.png");
    background-position: -239px -0px;    
}

/*#chat-editor #tinypopover-emoticons .non-display{
    width: 18px;
    height: 18px;
    margin: 14px 10px 14px 10px;
    background-image: url("../img/zalo.sprite.png");
    background-position: -152px -149px;  
}

#chat-editor #tinypopover-emoticons .non-display:hover{
    cursor: pointer;
    background-position: -170px -149px;    
}*/

#chat-editor .sticker-input {
    width: 18px;
    height: 18px;
    margin: 14px 10px 14px 10px;
    background-image: url("../img/zalo.sprite.png");
    background-position: -152px -149px;    
}

#chat-editor .sticker-input:hover {
    cursor: pointer;
    background-position: -170px -149px;    
}

#chat-editor .text-input {
    height: 33px;
    min-width: 268px;
    margin-top: 6.5px;
}

#chat-editor .text-input .left-text-input {
    width: 4px;
    height: 33px;
    background-image: url("../img/zalo.sprite.png");
    background-position: 0px -230px; 
}

#chat-editor .text-input .middle-text-input {
    float: left;
    height: 33px;
    line-height: 12px;
    min-width: 258px;
    padding-left: 7px;
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

#chat-editor .text-input .right-text-input {
    width: 4px;
    height: 33px;
    float: right;
    background-image: url("../img/zalo.sprite.png");
    background-position: -8px -230px; 
}

#chat-editor .send-btn{
    margin: 7px 0px 6px 6px;
}

ul.tabemotion{ 
    background:#f7f9fa; 
    box-shadow:0 -20px 5px #eff5f8 inset; 
    height:24px; 
    margin:0 -10px 10px; 
    border-bottom:1px solid #a9c4cf; 
    padding-top:10px;
}

ul.tabemotion li{
    display:block; 
    float:left; 
    font-weight:bold; 
    margin-left:10px;
}

ul.tabemotion li a{
    background:#97b7c5; 
    line-height:23px; 
    height:23px; 
    padding:0 10px; 
    display:block; 
    float:left; 
    color:#fff;
    border:1px 
    solid #97b7c5;
}

ul.tabemotion li a:hover{
    text-decoration:none;
}

ul.tabemotion li a.current, ul.tabemotion li a:hover{ 
    background:#fff; 
    color:#444;
    border:1px 
    solid #a9c4cf; 
    border-bottom:1px 
    solid #fff;
}

#contacts_menu{
    left: 50px;
    top:2px;
    width: 150px;
    height: 100px;
    padding-top:10px;
    position: absolute;
    background-color: #fcfbf7;
    padding: 0 0 10px;
    word-break: break-all;
    border: #070707 solid 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#contacts_menu li.divider{
    height: 2px;
    width: 100px;
    margin: 3px auto;
    background:  #070707;
}

#contacts_menu > li{
    float:center;
    margin:10px 4px;
    /*position: relative;*/
}

#contacts_menu > li > a [class*="icon-"]{
    width:42px;
    font-size:16px;
}

